<div class="lyrics" id="lyrics-scroll">
  <% @track.verses.each_with_index do |section, index| %>
    <div class="lyric-section" data-verse-comments="verse<%= index + 1 %>" data-container="body" data-toggle="popover" data-html="true" data-target="#newCommentModal" data-placement="right" data-content="<b>Comments on section:</b> <%= @comments.where(verse: index + 1).length %><br> Click lyrics to read and create comments">
      <div class="text-primary" id="verse">
        <% if section.kind_of?(String) %>
          <%= section.html_safe %>
        <% else %>
          <% section.each do |line| %>
            <%= line.html_safe %>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
</div>
