<section class="module parallax parallax-1">
  <div class="container">
    <h1>Dylan Database</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <div class="well well-lg well-welcome">
      <h1>You're very well read, it's well known</h1>
      <hr>
        <h4>
          Collection and discussion of the 20th century's greatest singer-songwriter's lyrics
          <br>
          <br>
          <% if @current_user == nil %>
            <%= link_to "Sign in with Twitter", "/auth/twitter" %> to join the conversation
          <% end %>
        </h4>
        <br>
        <%= link_to 'Albums', albums_path, class: 'btn btn-default' %>
  </div>
</section>
