<div class="well well-sorting-container">
  <h4>Narrow List</h4>
  <div class="form">
    <div class="form-group">
      <div class="checkbox">
        <div class="row">
          <div class="col-md-10">
            <b>Album Type</b>
              <ul id="types">
                <li><input type='checkbox' value='Bootleg'>Bootleg Series</input></li>
                <li><input type='checkbox' value='Compilations'>Compilations</input></li>
                <li><input type='checkbox' value='Live'>Live Albums</input></li>
                <li><input type='checkbox' value='Studio'>Studio Albums</input></li>
              </ul>
            <b>Year Released</b>
              <ul id="years">
                <li><input type='checkbox' value='1962'>1962-1971</input></li>
                <li><input type='checkbox' value='1972'>1972-1981</input></li>
                <li><input type='checkbox' value='1982'>1982-1991</input></li>
                <li><input type='checkbox' value='1992'>1992-2001</input></li>
                <li><input type='checkbox' value='2002'>2001-</input></li>
              </ul>
            <br>
            <center><a id="narrow-search" class="btn btn-info btn-xs">Narrow Search</a></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
