<div class="well well-sorting-container-small visible-xs">
  <b>Refine Album List</b>
  <div class="form">
    <div class="form-group">
      <div class="checkbox">
        <em>Album Type</em>
          <ul id="types-small">
            <li><input type='checkbox' value='bootleg'>Bootleg Series</input></li>
            <li><input type='checkbox' value='compilation'>Compilations</input></li>
            <li><input type='checkbox' value='live'>Live Albums</input></li>
            <li><input type='checkbox' value='studio'>Studio Albums</input></li>
          </ul>
        <em>Year Released</em>
          <ul id="years-small">
            <li><input type='checkbox' value='1962'>1962-1971</input></li>
            <li><input type='checkbox' value='1972'>1972-1981</input></li>
            <li><input type='checkbox' value='1982'>1982-1991</input></li>
            <li><input type='checkbox' value='1992'>1992-2001</input></li>
            <li><input type='checkbox' value='2002'>2001-</input></li>
          </ul>
        <br>
        <center><a id="narrow-search-small" class="btn btn-info btn-xs">Modify List</a></center>
      </div>
    </div>
  </div>
</div>
