<h1>Albums</h1>
<br>
  <div class="well well-lg well-albums-index">
    <% @albums.each do |album| %>
    <div class="panel panel-default album-box">
      <div class="panel-heading"><%= link_to album.title, album_path(album) %></div>
      <div class="panel-body">
        <%= image_tag(album.image_url, size: "160x160") %>
      </div>
    </div>
    <% end %>
  </div>
