<h1>Albums</h1>
<input type="hidden" id="current_page" />
<input type="hidden" id="show_per_page" />
<div class="albums-index">
</div>
<div class= "well well-sorting-container">
  <h4>Sort albums</h4>
</div>

<div class="well-albums-container"><a id="albums"></a>
  <div class="well well-albums-index">
    <% @albums.each do |album| %>
      <div class="panel panel-default album-box">
        <div class="panel-heading"><%= link_to album.title, album_path(album) %></div>
        <div class="panel-body">
          <%= image_tag(album.image_url, size: "160x160") %>
        </div>
      </div>
    <% end %>
  </div>
  <div id="albums_count"></div>
  <ul class="pagination">
    <li class="disabled" id="previous"><a href="#">«</a></li>
    <li class="active" id="1"><a href="#">1</a></li>
    <% (2..@show_pages).each do |i| %>
      <li id=<%= "#{i}" %>><a href="#"> <%= i %> </a></li>
    <% end %>
    <li id="next"><a href="#">»</a></li>
  </ul>
</div>
