<% if @year <= 1964 %>
  <div class="album-show-1965">
<% elsif @year > 1964 && @year < 1967 %>
  <div class="album-show-1966">
<% elsif @year >= 1967 && @year < 1976 %>
  <div class="album-show-1967">
<% elsif @year > 1975 && @year < 1979 || @album.title == "Bob Dylan At Budokan" %>
  <div class="album-show-1976">
<% elsif @year > 1978 && @year < 1984 && @album.title != "Bob Dylan At Budokan" %>
  <div class="album-show-1979">
<% elsif @year > 1983 && @year < 2000 %>
  <div class="album-show-1984">
<% elsif @year >= 2000 %>
  <div class="album-show-2000">
<% end %>
</div>
  <h1><%= @album.title %></h1>
  <h4><%= @year %></h4>
  <div class="album-info col-md-4">
  <br />
  <%= image_tag(@album.image_url) %>
</div>

  <div class="album-tracks col-md-4">
    <div class="list-group">
        <% @album_tracks.each do |track| %>
          <div class= "list-group-item">
            <%= link_to track.title, album_track_path(@album, track), class: "btn btn-link" %>
          </div>
        <% end %>
    </div>
  </div>
